/* Estilo base */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.night-mode {
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto claro */
}


.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  width: 150px;
  height: 100%;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.side-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-nav li {
  margin-bottom: 15px;
}

.side-nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.side-nav a:hover {
  background-color: #e45050;
  color: white;
}

/* Estilo de animación */

.animate {
  animation: fadeInUp 1s ease-in-out forwards;
  opacity: 0;
}

/* Estilo de centrado del header */
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  section {
    padding: 40px 0;
    text-align: center;
  }
  
/* Estilo de habilidades */


  
.habilidad {
  display: inline-block;
  margin: 0 20px;
}

.habilidad img {
  width: 400px; /* Ajusta el tamaño del logo según necesites */
}

.habilidad p {
  margin-top: 10px;
}


  /* Estilo de los logotipos de redes sociales en el section de contacto */
/* Estilo de los logotipos de redes sociales y el texto de contacto en el section de contacto */

.redes-sociales {
  display: flex;
  gap: 10px; /* Espacio entre los logotipos */
  align-items: center; /* Centra verticalmente los logotipos */
  justify-content: center; /* Centra horizontalmente los logotipos */
}

.redes-sociales a {
  display: block;
  text-align: center; /* Centra el contenido dentro del enlace */
}

.redes-sociales img {
  width: 50px; /* Ajusta el ancho a tu preferencia */
  height: auto; /* Mantiene la proporción original */
}

#fotito {
  width: 200px;
  border-radius: 100px;
  transition: transform 0.3s, box-shadow 0.3s;
}

#fotito:hover {
  transform: scale(1.1); /* Escala la imagen en un 110% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra alrededor de la imagen */
}


/* Otros estilos aquí */
#descripcion {
  text-align: center;
  font-size: 24px;
  white-space: nowrap; /* Evita saltos de línea */
  overflow: hidden; /* Oculta el texto que aún no se ha animado */
  border-right: 2px solid #000; /* Simula el cursor de escritura */
  animation: escribiendo 3s steps(100) infinite, blink-caret 1s step-end infinite;
  word-wrap: break-word;
  margin-left: 50%;

}

@keyframes escribiendo {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

@keyframes blink-caret {
  0%, 100% {
      border-color: transparent;
  }
  60% {
      border-color: #000;
  }
}
#descripcion-container {
  margin-left: 43%;
  height: 50px;
  width: 168px; /* Tamaño deseado de la caja */
  border: 0px solid #000; /* Borde de la caja */
  text-align: center;
}
  
  /* ... */
  .card-header {
    background: none;
    border: none;
  }
  .btn-link {
    color: #007bff; /* Color del enlace (puedes personalizarlo) */
    text-decoration: none; /* Quitar subrayado */
  }

  .proyecto-logo {
    display: inline-block;
    width: 50px; /* Ancho del logo (ajústalo según tus necesidades) */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio a la derecha del logo (ajústalo según tus necesidades) */
  }
  .proyectos-links li {
    list-style: none; /* Quitar viñetas de la lista */
  }

  